.panel.panel-default
  .panel-body
    .post
      .post-title
        %h2= @post.title
      .post-body{style: 'min-height: 100px;'}
        - if @post.image
          %img.post-image{src: "#{ @post.image }"}
        .content
          = @post.content.gsub(/\n/, '<br/>')
        

      .post-footer
        .row.small
          .col-md-10.text-left.text-muted
            Created at
            = "#{ date_format @post.date_created}."
            - if @post.date_modified
              Modified at
              = date_format @post.date_modified
          .col-md-2.text-right
            %a{href: "/posts/#{ @post.id }/edit"} Edit Post

    - if @post.comments.size > 0
      .div
        %h5
          = "#{ simple_pluralize(@post.comments.size, 'Thought') } on #{ @post.title }:"

        = @post.comments.each do |comment|
          .comment
            = comment.comment
            %br
            %i.fa.fa-comments-o
            %small.comment-footer.text-muted
              = "- #{ comment.name } (#{ comment.email_address }) at #{ date_format comment.date_created }"
          %hr
    .div
      %form{method: 'post', action: "/posts/#{ @post.id }/comments"}
        .row
          .col-md-12
            .form-group
              %label{for: 'comment'} Leave a Reply
              %textarea.form-control{name: 'comment', id: 'comment', required: true}
        .row
          .col-md-6
            .form-group
              %label{for: 'name'} Name
              %input.form-control{type: 'text', name: 'name', id: 'name', required: true}
          .col-md-6
            .form-group
              %label{for: 'email_address'} Email Address
              %input.form-control{type: 'text', name: 'email_address', id: 'email_addresses', required: true}

        %input.btn.btn-default.pull-right{type: 'submit', value: 'Submit'}

