.div
  = @post.title
  = @post.content
  = @post.date_created
  = @post.date_modified
  = @post.image

  %img{src: "#{ @post.image }"}

%br
%br
.div
  Comments:
  = @post.comments.each do |comment|
    .div
      = comment.comment
      = comment.name
      = comment.email_address

%br
%br
.div
  Add comment:
  %form{method: 'post', action: "/posts/#{ @post.id }/comments"}
    Name:
    %input{type: 'text', name: 'name'}
    Email Address:
    %input{type: 'text', name: 'email_address'}
    Comment:
    %input{type: 'text', name: 'comment'}
    %input{type: 'submit', value: 'Submit'}

%br
%br
%a{href: "/posts/#{ @post.id }/edit"} Edit Post
%br
rveervfgbtege
